@page
@model ChinookMusicCompany.Pages.Albums.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>All Albums</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Album[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Album[0].Artist)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Album) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Artist.Name)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.AlbumID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.AlbumID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.AlbumID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
