@page
@model ChinookMusicCompany.Pages.Tracks.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>All Tracks</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Track[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Track[0].Album)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Track[0].MediaType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Track[0].Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Track[0].Composer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Track[0].Milliseconds)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Track[0].Bytes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Track[0].UnitPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Track) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Album.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MediaType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Composer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Milliseconds)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bytes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitPrice)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.TrackID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.TrackID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.TrackID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
